body, h1, h2, p, ul, li {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family:'Poppins', font-size: 22px;
}

/* Set the black background and white text */
body {
    background-color: #ffcf00;
    color: black;
    font-family: 'Poppins';
}

/* Style the header and navigation */
header {
    background-color: #010909;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #010909;
    text-align: center;
}

nav ul {
    list-style-type: none;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

nav li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #ffcf00;
}

/* Style the main content sections */
main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

tr:hover {background-color: #e79447;}

/* Style the footer */
footer {
    text-align: center;
    background-color: #010909;
    padding: 10px 0;
}

footer p {
    color: #fff;
}

img{
    max-width: 50%;
    height: auto;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#btn{
    background-color: #010909;
    color: white;
}
.contacting {
    text-align: center;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}
.container{
    text-align: center;
}
.btn{
    padding: 2px 30px;
    background: #0f0f0f;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    border-radius: 20px;
    margin-right: 10px;
}
.popup{
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}
.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}
.popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: #ffcf00;
}
.popup h2{
    font-size: 20px;
    font-weight: 500;
    margin: 30px 0 10px;
}
.popup button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #ffcf00;
    color: #010909;
    border: 0;
    outline: none;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

#pictures {
    padding: 10px;
    height: auto;
    width: auto;
}

.carousel-inner {
  position: relative;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
}

.carousel-item {
    background-color: #010909;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 300px; /* Set a minimum height for the carousel items */
}

.centered-form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    text-align: center;
    margin: 50px 200px;
}

.contact-form {
    background-color: #ffcf00;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px; /* Limit maximum width */
    text-align: center;
}

.button-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
  
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}