body, h1, h2, p, ul, li {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Set the black background and white text */
body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
}

/* Style the header and navigation */
header {
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #333;
    text-align: center;
}

nav ul {
    list-style-type: none;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

nav li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* Style the main content sections */
main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

/* Style the footer */
footer {
    text-align: center;
    background-color: #333;
    padding: 10px 0;
}

footer p {
    color: #fff;
}

img{
    max-width: 50%;
    height: auto;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#btn{
    background-color: white;
    color: black;
}
.active {
    background-color: green;
    color: white;
}